@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oxygen&family=Oxygen+Mono&display=swap');

:root {
    --almond: #FFEBCD;
    --apple-green: #8DB600;
    --font-size: 1.3rem;
    --deep-saffron: #FF9933;
    --earth-green: #61A775;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
    --white: #f7f8fa;
    --black: #171321;

}

html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;

}

body {
    margin: 0px;
    padding: 0px;
    font-size: var(--sans);
    background-color: var(--white);
    color: var(--black);
    font-size: var(--font-size);

}

h1,
h2,
h3 {
    margin: 0;

}

a {
    color: var(--apple-green);


}

a:hover {
    color: var(--earth-green);
    text-decoration: none;
}





nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem 4rem;
}

#navbar {
    font-size: var(--font-size);
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

nav h1 a {
    color: var(--black);
    font-family: var(--sans);

}

nav h1 a i {
    color: var(--apple-green);
    /*   font-size: 150%; */
}

nav h1 a i:hover {
    color: var(--earth-green);

}

nav li:first-child {
    /*   flex-basis:100%; */
    text-align: left;
    margin-right: auto;
}

nav [class*="bxl-"] {
    font-size: 150%;

}

nav h1 [class*="bxl-"] {
    font-size: 100%;

}

.nav-list li a {
    text-decoration: none;
    color: var(--black);
    display: block;
}

.nav-list li a:hover {
    color: var(--apple-green);
}

.sr-only {
    display: none;
}

nav li:last-child {
    padding: 0.7rem;
    background-color: var(--apple-green);
    color: var(--white);
    border-radius: 5%;
    font-weight: 600;
}

nav li:last-child:hover {
    background-color: var(--black);
    color: var(--white);

}

nav li [class="nav-email"] {
    font-weight: 600;
    /*   color:var(--white); */

}

nav li [class="nav-email"]:hover {
    color: var(--white);

}
.logo-img{
    width: 35px;
}
.nav-list li:first-child{
    font-size: 22px;

}
#intro {
    padding: 0 4rem;
    padding-bottom: 10rem;
    /* grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem; */
    display: flex;
    flex-direction: row;
    gap: 6rem;
    

}
.intro-text{
    width: 50%;
    margin: 60px 0;

}


#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: --var(mono);

}

.name span {
    font-size: 4rem;
    display: block;
    font-family: var(--sans);
    color: var(--apple-green);
}

#intro h2 {
    font-size: 3rem;
    font-weight: normal;

}
.intro-img{
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/jyoti-maurya-new.png);
    background-size: contain;
    z-index: 999;
    background-repeat: no-repeat;


    
}

.back-img-box{
    width: 50%;
    height: 50%;
    background-color: var(--apple-green);
    border-radius: 50%;

}

footer{
    background-color: var(--apple-green);

}
.last-text p{
    width: 100%;
    text-align: center;
    padding:25px 0;
    /* background: rgb(7, 85, 91); */
    font-weight: 500;
    margin-top: 0px;
    letter-spacing: 1.5px;
    color: var(--white);
    margin-bottom: 0px;


}
.ad-link{
    color: var(--black);
    /* text-decoration: none; */

    
}
.ad-link:hover{
    text-decoration: none;
    color: var(--white);

}
.top{
    position: fixed;
    right: 2.2rem;
    bottom: 2.2rem;
    box-shadow: 0 0 5px var(--white);

}

.top i{
    color: #000000;
    /* background: #0ef; */
    background-color: var(--apple-green);
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;

}

#heart{
    color:var(--white);

}

#contact {
    width: 100%;
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 60px;
    color:var(--black);
    padding: 3rem auto;

}

#contact a {
    padding: 12px;
    
    border-radius: 50%;

}

#contact p:last-child {
    margin-top: 3rem;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
    padding-bottom: 70px;

}

.contact-text h2{
    font-size: 52px;
    line-height: 1;
    text-align: center;
    color:var(--black);
    margin-bottom: 30px;

}

.contact-text h2 span{
    color:var(--apple-green);
}

.contact-text h4{
    margin: 15px 0;
    color: var(--black);
    font-size: 20px;
    font-weight: 600;

}

.contact-text p{
    font-size: 16px;
    color: var(--black);
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;

}
.contact-list ul{
    list-style-type: none;
    color: var(--black);
}
.contact-list li{
    margin-bottom: 10px;

}


.contact a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #081b29;

}

/* .contact-icons ul{
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.contact-icons  i{
  
    width: 40px;
    height: 40px;
    background:transparent;
    border: 2px solid var(--apple-green);
    border-radius: 50%;
    font-size: 20px;
    color: var(--apple-green);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
    /* opacity: 0; */
    




.contact-form form{
    position: relative;
}



.contact-links {

    width: 300px;
    height: 56px;
    display: flex;
    
    margin: 12px;

}

.contact-links a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--apple-green);
    border-radius: 50%;
    font-size: 20px;
    color: var(--apple-green);
    text-decoration: none;
    margin: 6px 15px 6px 0;

}
.contact-links a:hover {
    background: var(--apple-green);
    color:var(--white);
    box-shadow: 0 0 20px var(--apple-green);
    transform: scale(1.01) translateY(-4px);
    
}